<strong> Olá, {{ deliveryman}} </strong>
<p>você recebeu um pedido de entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ name }} <br>
  <strong>Data e hora: </strong> {{ date }} <br>
  <br>
  <small>
    O produto já pode ser retirado para entrega.
  </small>
  <small>
    Faça uma boa entrega! :)
  </small>
</p>