<strong>Olá, {{deliveryman}}</strong>
<p> Uma nova encomenda foi designada para você, confira os detalhes abaixo:</p>
<p>
  <strong> Entrega de um(a) {{product}} para o {{recipient}} </strong> <br/>
  <strong> Endereço: {{address}} </strong> <br/>
   <br/>
   <small>
     A encomenda está disponível para a sua retirada
   </small>
</p>